<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happytravel.btoc.dao.HotelDao">

    <!-- 전체 호텔 목록 조회-->
    <select id="getHotelList" resultType="kr.happytravel.btoc.dto.HotelDto" parameterType="hashmap">
        SELECT
        h.HOTEL_CODE,
        h.HOTEL_NAME,
        h.PHONE,
        c.KOREAN_NAME AS COUNTRY,
        h.ADDRESS,
        h.PRICE,
        h.IS_USED,
        h.imageUrl
        FROM
        TB_HOTEL_INFO h
        LEFT JOIN TB_COUNTRY_INFO c ON h.COUNTRY_code = c.COUNTRY_CODE
        WHERE
        c.COUNTRY_IMAGE IS NOT NULL
        AND h.IS_USED = 'Y'
        GROUP BY
        c.COUNTRY_CODE, c.KOREAN_NAME, c.COUNTRY_IMAGE
        ORDER BY
        c.COUNTRY_CODE
    </select>

    <!-- 국가 조회-->
    <select id="getCountByCountry" resultType="kr.happytravel.btoc.dto.CntPerCountryList" parameterType="hashmap">
        SELECT
        c.COUNTRY_CODE,
        c.KOREAN_NAME,
        c.COUNTRY_IMAGE,
        COUNT(h.HOTEL_CODE) AS HOTEL_COUNT
        FROM
        TB_COUNTRY_INFO c
        JOIN
        TB_HOTEL_INFO h ON c.COUNTRY_CODE = h.COUNTRY_CODE
        WHERE
        c.COUNTRY_IMAGE IS NOT NULL
        AND h.IS_USED = 'Y'
        GROUP BY
        c.COUNTRY_CODE, c.KOREAN_NAME, c.COUNTRY_IMAGE
        ORDER BY
        c.COUNTRY_CODE
    </select>

    <!-- 전체 목록 카운트 -->

    <!-- 단건 조회 -->


    <!-- INSERT 쿼리 -->


    <!-- UPDATE 쿼리 -->




</mapper>